@import "styles/utils";

.rateCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F2F7;
  border-radius: 8px;
  padding: 16px;

  @include media(">desktop") {
    max-width: 445px;
    min-height: 56px;
    flex-direction: row;
    align-items: center;
    grid-gap: 32px;
    padding: 0 32px;
  }

  .iconContainer {
    display: flex;
    grid-gap: 8.45px;
    margin-bottom: 16.23px;

    @include media(">desktop") {
      margin-bottom: 0;
    }
  }

  .description {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #512051;
  }
}
